@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital@1&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    /* display: flex;
    flex-direction: column; */
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    font-size: 280%;
    text-decoration: none;
    margin-left: 30px;
}

.logo-underline {
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
}

#menu, #logo {
    line-height: 75px;
    text-decoration: none;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;


    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards ;
}



/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(249, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#club-ethos .welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

.container2 {
    display: flex;
    /* justify-content: space-around; */
    height: 600px;
    /* border: 3px solid lime; */
}

.about {
    padding: 60px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    /* border: 1px solid lime; */
    width: 33%;
    padding-right: 0;
}

.center {
    /* border: 1px solid lime; */
    width: 33%;
}

.right {
    /* border: 1px solid lime; */
    width: 33%;
    padding-left: 0;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    /* width: 60%; */
    line-height: 20px;
    margin-bottom: 50px;
    padding-left: 100px;
    text-align: left;
    
}

.right-about-heading {
    line-height: 20px;
    margin-bottom: 50px;
    padding-right: 100px;
    text-align: right;
}

.circle-container {
   width: 300px;
   height: 300px;
   padding: 30px;
   border: 1px solid #ccc;
   border-radius: 50%;
   margin: 0 auto;
}

.circle-cover-bg {
    background: url(../images/ethos-center-image.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* event times */

.times {
    background: url('../images/dublin-city.webp') no-repeat center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    display: flex;
    
}

.times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    height: 300px;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fff;
}

.times h2 {
    color: #fafafa
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    padding: 4% 16% 5% 16%;
    font-size: 160%;
    list-style-type: none;
}

li i {
    color: #3a3a3a;
}

/* gallery */

.photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.photos > img {
    width: 100%;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    #club-ethos .welcome {
        padding: 30px 0;
        margin: 0;
        /* justify-content: center; */
    }

   .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    
   }

   .left-about-heading {
    order: 1;
    padding: 0;
    margin: 0;
    /* text-align: center; */
    width: 100%;
   }

   .left-about-heading {
    padding-bottom: 50px;
   }

   .right-about-heading {
    order: 2;
    padding: 0;
    margin: 0;
    /* text-align: center; */
   }

   .right-about-heading {
    padding-bottom: 65px;
   }

   .middle {
    order: 3;
    padding: 0;
    margin: 0;
    /* text-align: center; */
    justify-items: flex-end;
   }

   .about {
    padding: 0;
   }

   .circle-container {
    margin: 0;
   }

   hr {
    display: none;
   }

}